ORIGINS=#"http://localhost:3032"

DATABASE_URL=#"postgresql://postgres:postgres@127.0.0.1:54322/postgres"

SUPABASE_URL=#"http://127.0.0.1:54321"
SUPABASE_PUBLISHABLE_KEY=#"sb_publishable_"
SUPABASE_SERVICE_ROLE_KEY=#"sb_secret_"

SALT_ROUNDS=12